<footer class="bg-success text-white mt-5">
    <div class="container footer-reduce-padding">
        <div class="row">
            <div class="col-md-4 col-12">
                <h4>Ayúdanos !</h4>
                <ul class="list-unstyled">
                    <li><i class="fab fa-cc-visa"></i>  Donaciones</li>
                    <p> APAYMA es una organización sin animo de lucro donde buscamos casas de acogida a los animales, tambien estamos pendientes de sus necesidades medicas y afectivas. 
                        Únete a nosotros como forma voluntaria para ayudarnos a conseguir hogar estable a nuestros bbs
                    </p>
                    <li><a href="https://www.teaming.net/apaymaprotectoraargamasilladealba" class="text-white"><i class="fas fa-leaf"></i> Dona!</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                
            </div>
            <div class="col-md-4 col-12">
                <h4>Contacto</h4>
                <p><i class="bi bi-geo-alt"></i> Dirección: Argamasilla de Alba, España, 13710</p>
                <p><i class="bi bi-envelope"></i> Email: apayma@gmail.com</p>
                <p><i class="bi bi-telephone"></i> Teléfono: +34 651 428 414</p>
                <p><a class="nav-link" href="https://www.facebook.com/people/Apayma-Argamasilla-de-Alba/100064926240624/"><i class="fab fa-facebook-f"></i> Facebook </a></p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white footer-reduce-padding">
        <div class="container text-center">
            <p class="mb-0">&copy; 2023 APAYMA Argamasilla. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
