<footer class="bg-success text-white mt-5">
    <div class="container footer-reduce-padding">
        <div class="row">
            <div class="col-md-4 col-12">
                <h4>APAYMA Argamasilla</h4>
                <p>APAYMA es una asociacion protectora de animales y medio ambiente fundada en el año 1990</p>
            </div>
            <div class="col-md-4 col-12">
                <h4>Enlaces útiles</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Inicio</a></li>
                    <li><a href="#" class="text-white">Animales</a></li>
                    <li><a href="#" class="text-white">Adopciones</a></li>
                    <li><a href="#" class="text-white">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <h4>Contacto</h4>
                <p><i class="bi bi-geo-alt"></i> Dirección: Argamasilla de Alba, Spain, 13710</p>
                <p><i class="bi bi-envelope"></i> Email: apayma@gmail.com</p>
                <p><i class="bi bi-telephone"></i> Teléfono: +34 651 428 414</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white footer-reduce-padding">
        <div class="container text-center">
            <p class="mb-0">&copy; 2023 APAYMA Argamasilla. Todos los derechos reservados.</p>
        </div>
    </div>
</footer