<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <!-- Agregar referencia al archivo CSS externo -->
        <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- Contenedor para centrar la barra de navegación -->
        <div class="container">
            <!-- Enlace y logotipo de la marca -->
            <a class="navbar-brand" href="http://localhost:8080/index">
                <img src="/imagenes/logo.jpg" alt="Logo" height="40">
            </a>
            <!-- Botón de alternancia de navegación para pantallas pequeñas -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Icono del botón de alternancia -->
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Contenedor de la lista de elementos de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Lista de elementos de navegación -->
                <ul class="navbar-nav">
                    <!-- Elemento de navegación individual (Productos) -->
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/animals/list-animales">
                            <i class="fas fa-paw"></i> Animals
                        </a>
                    </li>
                <!-- Elemento de navegación individual (Users) -->
                    <!-- Elemento de navegación Eventos -->
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/adoptions/list-adopciones">
                            <i class="fas fa-user-tie"></i> Adoptions
                        </a>
                    </li> 
                    <!-- Elemento de navegación individual (Clientes) -->
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/users">
                            <i class="fas fa-users"></i> Users
                        </a>
                    </li>                   
                    <!-- Elemento de navegación individual (Contacto) -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-envelope"></i> Contacto
                        </a>
                    </li>
                </ul>
                <!-- Aquí puedes añadir más elementos a la barra de navegación, como un formulario de búsqueda o enlaces adicionales -->
            </div>
        </div>
    </nav>
</body>
</html>
