<!DOCTYPE html>
<html lang="es">
    <head th:replace="fragments/common-head :: common-head">
    </head>
    <style>
        .jumbotron {
            background-image: url('/images/fondo-imagen-principal.jpeg');
            background-size: cover;
            background-position: center;
        }
    </style>
<body>
    <!-- Fragmento de la barra de navegación -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center" style="color: white; background: linear-gradient(to right, rgba(0,128,0,0.4) , rgba(255,255,0,0.4)); padding: 20px; border-radius: 25px;">APAYMA</h1>
        </div>
    </div>
    <!-- Incluir el fragmento del footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>

